<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new post</title>
</head>
<body>
    <form method="post" action="http://localhost:8080/posts">
        <input type="text" placeholder="user-name" name="username"><br/><br/><br/><br/>
        <textarea placeholder="write your content" name="content"></textarea><br/><br/>
        <button>submit</button>
    </form>
</body>
</html>